<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <input type="text" name="" id="" />
      <ul>
        <li>
          <a href="">Inbox</a
          ><img
            src="../assets/icons/inbox-solid (1).svg"
            alt="inbox"
            class="icon"
          />
          <div></div>
        </li>
        <li>
          <a href="">Today</a
          ><img
            src="../assets/icons/calendar-days-solid.svg"
            alt="calendar-days-solid"
            class="icon"
          />
          <div></div>
        </li>
        <li>
          <a href="">Upcoming</a
          ><img
            src="../assets/icons/star-solid.svg"
            alt="star-solid"
            class="icon"
          />
          <div></div>
        </li>
      </ul>
      <hr />
      <div class="nav_projects_section">
        <h2>Projects</h2>
        <div class="nav_project_brief">
          <h3>Family</h3>
          <ul>
            <li><a href="">Vacation</a></li>
            <li><a href="">Bay a car</a></li>
            <li><a href="">Party</a></li>
          </ul>
        </div>
        <div class="nav_project_brief">
          <h3>Family</h3>
          <ul>
            <li><a href="">Vacation</a></li>
            <li><a href="">Bay a car</a></li>
            <li><a href="">Party</a></li>
          </ul>
        </div>
      </div>
      <div class="nav_footer">
        <button type="button">
          <img
            src="../assets/icons/plus-solid.svg"
            alt="plus-solid"
            class="icon"
          />New List
        </button>
        <button type="button">
          <img
            src="../assets/icons/sliders-solid.svg"
            alt="sliders-solid"
            class="icon"
          />
        </button>
      </div>
    </nav>
  </body>
</html>
