<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <input type="text" name="" id="" />
      <ul>
        <li>
          <a href="">Inbox</a><i></i>
          <div></div>
        </li>
        <li>
          <a href="">Today</a><i></i>
          <div></div>
        </li>
        <li>
          <a href="">Upcoming</a><i></i>
          <div></div>
        </li>
      </ul>
      <hr />
      <h2>Projects</h2>
      <div>
        <h3>Family</h3>
        <ul>
          <li><a href="">Vacation</a></li>
          <li><a href="">Bay a car</a></li>
          <li><a href="">Party</a></li>
        </ul>
      </div>
      <div>
        <h3>Family</h3>
        <ul>
          <li><a href="">Vacation</a></li>
          <li><a href="">Bay a car</a></li>
          <li><a href="">Party</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
