/* Main styles */
nav {
  width: 25%;
  flex-shrink: 0;
  background: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 0 0 20px;
  border-right: 1px solid var(--mid-gray);
}

nav li {
  padding: 0.2rem 0.5rem;
  width: 100%;
}

nav li:hover,
nav button:hover,
.top input {
  background-color: var(--mid-gray);
  border-radius: 10px;
  cursor: pointer;
}

/* Top sections styles */

.top {
  padding: 1rem 1.5rem 0 1.5rem;
}

.top,
.nav_footer {
  width: 100%;
}

.top,
.tabs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Search bar */

.top input {
  border: none;
  border-radius: 10px;
  background-color: var(--mid-gray);
  text-align: center;
  padding: 0.2rem 0;
}

.nav_tabs_sections {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav_tab_item {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}

.nav_tab_item a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tab_notes_num {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: medium;
}

.tab_notes_num .important,
.tab_notes_num .normal {
  padding: 0 0.4rem;
  font-weight: normal;
}

.tab_notes_num .important {
  background-color: var(--red);
  border-radius: 45%;
  color: var(--bg-main);
  line-height: 1;
}

.tab_notes_num .important:empty {
  display: none;
}

.tab_notes_num .normal {
  color: var(--dark-gray);
}

/* Projects section */

.nav_projects_title,
.project_tasks,
.nav_project_brief div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.nav_projects_section,
.projects_body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project_tasks_section {
  width: 100%;
}

.projects_body {
  overflow-y: scroll;
  height: 65vh;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.projects_body::-webkit-scrollbar {
  display: none;
}

.nav_projects_title .icon {
  width: 1.3rem;
}

.nav_project_brief {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

/* Nav Footer */
.nav_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  border-top: 1px solid var(--mid-gray);
  gap: 0.5rem;
}

.nav_footer button {
  padding: 0.2rem 0.5rem;
}

.add_new_btn {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 1;
  gap: 0.5rem;
  color: var(--dark-gray);
  font-weight: bold;
  line-height: 1;
}
